<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <script language="JavaScript" src="../../js/gtvg_common.js" th:src="@{/js/gtvg_common.js}"></script>
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="product/list.html" th:href="@{/product/list}">Product List</a>
      <a href="order/list.html" th:href="@{/order/list}">Order List</a>
      <a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a>
      <a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a>
    </div>

    <div id="main">
      <div>
        <img src="../../images/gtvglogo.png" alt="GTVG logo" title="GTVG logo"
             th:src="@{/images/gtvglogo.png}" th:alt-title="#{logo}" />
      </div>

      <p th:utext="#{home.welcome(${session.user.name})}">Welcome to our grocery store, Sebastian!</p>

      <p>
        Today is: <span th:with="df=#{date.format}" th:text="${#calendars.format(today,df)}">13 February 2011</span>
      </p>

      <span style="font-size:30px;cursor:pointer" onclick="openNav()" th:text="#{home.menu}">&#9776; open menu</span>

      <p>Now you are looking at a <span th:text="'working web application'">template file</span>.</p>

      <div th:insert="~{footer::copy}">&copy; 2011 The Static Templates</div>
    </div>

  </body>
  
</html>

